@media (max-width: 979px) {
  .header-img {
    display: none;
  }
  .header-wrapper {
    padding-top: 0;
    max-width: none;
  }
  header {
    padding: 0px;
    background-color: black;
    .main-flexbox {
      text-align: center;
      font-size: 18px;
      line-height: 28px;
      h1 {
        font-size: 40px;
        line-height: 100%;
      }
    }
    .buttons-wrapper {
      .button {
        margin-bottom: 20px;
      }
    }
  }
  .feedbacks {
    h3 {
      padding: 20px;
    }
    .blockquotes {
      display: block;
      blockquote {
        width: 90%;
        padding: 20px 20px;
        text-align: center;
      }
    }
  }

  .features-list {
    overflow: hidden;
    .feature-list-left {
      max-width: 90%;
      h3 {
        font-size: 250%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 0px;
      }
      p {
        font-size: 125%;
        line-height: 150%;
        padding-bottom: 20px;
      }
    }
    .feature-list-right {
      max-width: 90%;
      margin: 50px;
    }
  }
}
