@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;700&display=swap");
/* reset -------------------------- */
html,
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
dfn,
del,
p,
blockquote,
fieldset,
input,
textarea,
select,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
button,
canvas,
video {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
address,
caption,
cite,
code,
th,
dfn,
del {
  font-weight: normal;
  font-style: normal;
}

ul,
ol {
  list-style: none;
}

fieldset,
img {
  border: none;
}

caption,
th {
  text-align: left;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  cursor: pointer;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
input[type="search"],
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

input,
button,
textarea {
  line-height: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="hidden"],
[hidden],
.hidden {
  display: none;
}

textarea {
  overflow: auto;
  resize: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
.clearfix {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

a > img {
  vertical-align: bottom;
}

strong,
.strong,
b {
  font-weight: bold;
}

em,
.italic,
i {
  font-style: italic;
}

del,
.del {
  text-decoration: line-through;
}

:focus {
  outline: none;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* tools -------------------------- */
.clear {
  clear: both;
  display: block;
  line-height: 0;
  height: 0;
  font-size: 0;
}

.clearfix:after,
.wrap:after,
.spanning:after,
.content:after,
.main:after,
aside:after,
section:after,
article:after,
.text:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}

.align-left {
  float: left !important;
}

.align-right {
  float: right !important;
}

.overflow-hidden {
  overflow: hidden;
  display: block;
}

.button-download:after {
  background: url(../images/sprite.png) 0 0 no-repeat;
}

html {
  padding: 0;
  margin: 0;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 16px/28px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222222;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.button {
  color: #ffffff;
  background: #10bbf1;
  height: 58px;
  border: 2px solid #10bbf1;
  font: 500 22px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 21px;
  -webkit-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
  transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.button:hover {
  background: #40c9f4;
  border-color: #40c9f4;
}

.button:active {
  background: #0b97c3;
  border-color: #0b97c3;
}

a.button {
  text-decoration: none;
  display: inline-block;
  line-height: 54px;
  color: #ffffff;
}

a.button:hover {
  color: #ffffff;
}

a.button:active {
  color: #ffffff;
}

.animation-fadein {
  opacity: 0;
}

.animation-fadein.animate__animated {
  opacity: 1;
}

header {
  padding: 104px 10px;
  background-color: black;
  background: url("https://i.imgur.com/32vl8OH.jpg");
  background-attachment: fixed;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .main-flexbox {
  font: 24px/36px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-size: cover;
}

header .main-flexbox h1 {
  font-size: 48px;
  line-height: 150%;
  font-weight: 500;
  margin-bottom: 38px;
}

header .main-flexbox h1 span {
  font-weight: 200;
}

header .main-flexbox .buttons-wrapper {
  padding-top: 53px;
}

header .main-flexbox .buttons-wrapper .button-stripe {
  margin-left: 14px;
}

header .main-flexbox p {
  font-weight: 500;
}

header .main-flexbox .header-left {
  width: 70%;
}

header .main-flexbox .header-img {
  max-height: 800px;
}

.odd-background-color {
  background-color: #f4f4f4;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-list .bottom-border-grey {
  border-bottom: solid 6px #f4f4f4;
}

.features-list .bottom-border-dark {
  border-bottom: solid 6px #dcdcdc;
}

.features-list .feature-list-left {
  max-width: 40%;
}

.features-list .feature-list-left h3 {
  color: #000000;
  text-transform: uppercase;
  font-size: 300%;
  line-height: 150%;
  text-align: center;
  font-weight: 700;
  padding-bottom: 43px;
  margin-bottom: 43px;
}

.features-list .feature-list-left p {
  font-size: 200%;
  line-height: 150%;
}

.features-list .feature-list-right {
  max-width: 40%;
  margin: 100px;
}

.features-list .feature-list-image {
  max-width: 537px;
  max-height: 500px;
}

.discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
}

.discover .discover-right {
  padding-right: 20px;
}

.discover .discover-right h3 {
  color: #000000;
  font-size: 350%;
  line-height: 100%;
  text-align: center;
  font-weight: 700;
  margin-bottom: 43px;
}

.discover .discover-image {
  max-height: 500px;
}

.feedbacks {
  background-color: #10bbf1;
  color: #ffffff;
}

.feedbacks h3 {
  font-size: 300%;
  text-align: center;
  line-height: 150%;
  font-weight: 500;
  padding: 40px;
}

.feedbacks .blockquotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedbacks .blockquotes blockquote:before {
  display: block;
  content: "\201C";
  font-size: 300%;
  line-height: 0%;
}

.feedbacks .blockquotes blockquote {
  width: 25%;
  padding: 20px 10px;
}

footer {
  text-align: center;
  color: #ffffff;
  padding: 40px;
  background-color: #324a57;
}

.button-download {
  height: 62px;
  float: left;
  font: 500 11px/13px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 61px;
  padding-right: 0;
  width: 180px;
  text-align: left;
  margin: 0 10px 20px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.button-download:after {
  content: "";
  position: absolute;
  left: 23px;
  top: 14px;
  width: 32px;
  height: 32px;
  background-position: -100px 0;
}

.button-download.android:after {
  background-position: -150px 0;
}

.button-download-title {
  padding: 11px 0 1px;
  display: block;
  font-size: 11px;
  line-height: 13px;
  text-align: left;
}

.button-download-subtitle {
  display: block;
  font-size: 21px;
  line-height: 23px;
  text-align: left;
}

@media (max-width: 979px) {
  .header-img {
    display: none;
  }
  .header-wrapper {
    padding-top: 0;
    max-width: none;
  }
  header {
    padding: 0px;
    background-color: black;
  }
  header .main-flexbox {
    text-align: center;
    font-size: 18px;
    line-height: 28px;
  }
  header .main-flexbox h1 {
    font-size: 40px;
    line-height: 100%;
  }
  header .buttons-wrapper .button {
    margin-bottom: 20px;
  }
  .feedbacks h3 {
    padding: 20px;
  }
  .feedbacks .blockquotes {
    display: block;
  }
  .feedbacks .blockquotes blockquote {
    width: 90%;
    padding: 20px 20px;
    text-align: center;
  }
  .features-list .feature-list-left {
    max-width: 90%;
  }
  .features-list .feature-list-left h3 {
    font-size: 250%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 0px;
  }
  .features-list .feature-list-left p {
    font-size: 125%;
    line-height: 150%;
    padding-bottom: 20px;
  }
  .features-list .feature-list-right {
    max-width: 90%;
    margin: 50px;
  }
}
/*# sourceMappingURL=styles.css.map */